/sandbox/Tanks-of-Freedom-master
/sandbox/screen_capture
/sandbox/rich_text_bbcode
*.ini
bootstrap-test
*.gd.txt
*.ttf
*.otf
/sandbox
return-false/tutorial-draft/old-partials
return-false/tutorial-draft/savegames
*.scn
blank
return-false/tutorial-draft/semiflat
return-false/tutorial-draft/assets/tiles/walls-teal
exports
return-false/tutorial-draft/needs-review
return-false/tutorial-draft/sandbox/_*
return-false/game
return-false/tutorial-draft/assets/tiles/tests
*.psd
return-false/tutorial-draft/assets/fpo
godots
