/sandbox/Tanks-of-Freedom-master
/sandbox/screen_capture
/sandbox/rich_text_bbcode
*.ini
bootstrap-test
*.gd.txt
*.ttf
*.otf
/sandbox
return-false/tutorial-draft/old-partials
return-false/tutorial-draft/savegames
*.scn
blank
return-false/tutorial-draft/semiflat
return-false/tutorial-draft/assets/tiles/walls-teal
exports
return-false/tutorial-draft/needs-review
return-false/tutorial-draft/sandbox/_*
return-false/tutorial-draft/assets/tiles/tests
return-false/tutorial-draft/assets/fpo
godots
return-false/game/sandbox/isometric_light
return-false/game/assets/tiles/floors/premade
return-false/game/assets/sketches
return-false/game/addons
return-false/game/assets/tiles
